{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [erlang_otp_chat]}
]}.

{eunit_support_modules, [chat_server_tests]}.

{relx, [
  {release, {erlang_otp_chat, "0.1.0"}, 
    [erlang_otp_chat, sasl]},
  
  {dev_mode, false},
  {include_erts, true},
  {system_libs, true}
]}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, false}, {include_erts, true}]}
]}]}.
